
body,html{
  margin: 0;
  padding: 0;
  height: 100%;

  text-align: center;
  box-sizing: border-box;
}
.new{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3vw;
  

}

.bg{
  background-image: url('./assets/bgimg2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg2{
  background-image: url('./assets/bgimg3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  font-size: 500px;
}
.up{
  background-image: url("./Components/Verical/up.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
